#ui-sub {

	.overlay {

		position:absolute;
		margin: 40px;
		width: calc(100% - 80px);
		height: calc(100% - 80px);
		text-align: center;
		display: table;
    background-color: #272822;
    border: 1px solid #272822;
    box-shadow: 0 10px 10px #000;

		p {

			text-align: center;
			color: rgba(255, 255, 255, 0.1);
			text-shadow: -1px -1px rgba(150, 150, 150, 0.1);
			text-rendering: optimizeLegibility;
			cursor:pointer;
			font-size:30px;
			display: table-cell;
			vertical-align: middle;
		}

		p.hidden{

			display:none;
		}

		.file {

			position:absolute;
			top:-100px;
			left:0;
			width:1px;
			height:1px;
		}

		.youtube{

			padding: 15px;
			font-size: 20px;
			outline: none;
			color: rgba(255, 255, 255, 0.1);
			background-color: #272822;
			border: 3px solid #202020;
			width: 300px;
			height: 40px;
			z-index: 1000;

			position:absolute;
			top:50%;
			left:50%;

			transform: translate(-50%, 70%);

		}

		.youtube::-webkit-input-placeholder {
		   color: rgba(255, 255, 255, 0.1);
		   text-align: center;
		}

		.youtube:-moz-placeholder { /* Firefox 18- */
		   color: rgba(255, 255, 255, 0.1);
		   text-align: center;
		}

		.youtube::-moz-placeholder {  /* Firefox 19+ */
		   color: rgba(255, 255, 255, 0.1);
		   text-align: center;
		}

		.youtube:-ms-input-placeholder {
		   color: rgba(255, 255, 255, 0.1);
		   text-align: center;
		}

		video {

			overflow: hidden;
			width:100%;
			/*height:100%;*/
		}

	}

}
