#ui-sub {

	.notification {
		position: absolute;
    top: 35px;
    right: 35px;
    width: 280px;
    z-index: 100;
		height: 65px;
    padding: 0 15px;
    background-color: rgba(47, 49, 41, 0.9);
    text-align: center;
    font-size: 12px;
    color: rgba(241, 228, 190, 0.6);

		a {
			color: rgba(241, 228, 190, 0.5);
	    text-decoration: underline;
			display: inline-block;
		}

		textarea {
			width:1px;
			height:1px;
			position:absolute;
			left:-100px;
			top:-100px;
		}

		span {
			float: right;
			position: relative;
			font-size: 24px;
			margin-right: 10px;
			cursor: pointer;
			right: -10px;
		}

		p {
			padding: 18px;
    	margin: 0;
		}
	}

	.overlay {

		z-index: 10;
		position:absolute;
		margin: 40px;
		width: calc(100% - 80px);
		height: calc(100% - 80px);
		text-align: center;
		display: block;
    background-color: #272822;
    border: 1px solid #272822;
    box-shadow: 0 10px 10px #000;
		cursor:pointer;

		p {

			/* text-align: center; */
			color: rgba(255, 255, 255, 0.1);
			text-shadow: -1px -1px rgba(150, 150, 150, 0.1);
			text-rendering: optimizeLegibility;
			cursor: pointer;
			font-size: 30px;
			/* display: block; */
			position: relative;
			top: calc(50% - 70px);
			transform: (-50%, -50%);

		}

		p.hidden{

			display:none;

		}

    .plyr__captions{

      z-index: 100;

    }

		.file {

			position:absolute;
			top:-100px;
			left:0;
			width:1px;
			height:1px;

		}

		.youtube{

			padding: 15px;
			font-size: 20px;
			outline: none;
			color: rgba(255, 255, 255, 0.1);
			background-color: #272822;
			border: 3px solid #202020;
			width: 300px;
			height: 40px;
			z-index: 1000;

			position:absolute;
			top:50%;
			left:50%;

			transform: translate(-50%, 70%);

		}

		.youtube::-webkit-input-placeholder {
		   color: rgba(255, 255, 255, 0.1);
		   text-align: center;
		}

		.youtube:-moz-placeholder { /* Firefox 18- */
		   color: rgba(255, 255, 255, 0.1);
		   text-align: center;
		}

		.youtube::-moz-placeholder {  /* Firefox 19+ */
		   color: rgba(255, 255, 255, 0.1);
		   text-align: center;
		}

		.youtube:-ms-input-placeholder {
		   color: rgba(255, 255, 255, 0.1);
		   text-align: center;
		}

		video {

			overflow: hidden;
			width:100%;
			/*height:100%;*/
		}

	}

  .overlay-loading {

    z-index: 10;
    position: absolute;
    margin: 40px;
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    text-align: center;
    display: block;
    background-color: #272822;
    border: 1px solid #272822;
    box-shadow: 0 10px 10px #000;
  }

  .export {

		position: absolute;
		outline: 0;
    /* background-color: #272822; */
    top: 10px;
    right: 10px;
    height: 20px;
    text-align: center;
    top: 5px;
    cursor: pointer;
    padding: 5px;
		color: white;

    .icon {

      width: 15px;
      height: 15px;

    }

  }

	.export .icon:focus {
			/* clicking on label should toggle the menu */
			pointer-events: none;
	}
	.export .icon:focus .gear-menu-content {
			/*  opacity is 1 in opened state (see below) */
			opacity: 1;
			visibility: visible;

			/* don't let pointer-events affect descendant elements */
			pointer-events: auto;
	}
	.gear-menu-content {

		background-color: #272822;
		cursor: default;
		width: auto;
		margin-top: 10px;
		text-align: left;
		padding: 10px;
		list-style: none;
		position: absolute;
		z-index: 100;
		right: -5px;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: visibility 0.5s;
		transition: visibility 0.5s;
		border: 1px solid #6b6b6b;

			li {
				color: #f2f5e9;
		    list-style-type: none;
		    white-space: nowrap;
				padding-top: 2px;
				color: rgba(255, 255, 255, 0.4);
				text-shadow: -1px -1px rgba(150, 150, 150, 0.1);
				text-rendering: optimizeLegibility;
			}

			li.separator {
				margin: 5px;
    		border-bottom: 1px dotted grey;
			}

			a, button {

				background: transparent;
		    border: none;
		    color: inherit;
		    cursor: inherit;
		    outline: 0;
		    cursor: pointer;
				font-size: 12px;
			}

			a {
				text-decoration: none;
			}

	}

	.gear-menu-content:before {

		content: "";
    width: 0;
    height: 0;
    border-bottom: 10px solid #6b6b6b;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
		right: 10px;

	}

	.modalbg {
	  position: fixed;
	  font-family: Arial, Helvetica, sans-serif;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  background: rgba(0, 0, 0, 0);
	  z-index: 99999;
	  -moz-transition: all 0.5s ease-out;
	  -webkit-transition: all 0.5s ease-out;
	  -o-transition: all 0.5s ease-out;
	  transition: all 0.5s ease-out;
	  -webkit-transition-delay: 0.2s;
	  -moz-transition-delay: 0.2s;
	  -o-transition-delay: 0.2s;
	  -transition-delay: 0.2s;
	  display: block;
	  pointer-events: none;
	}
	.modalbg .dialog {
	  width: 500px;
	  position: relative;
	  top: -1000px;
	  margin: 10% auto;
	  padding: 5px 20px 13px 20px;
	  -moz-border-radius: 10px;
	  -webkit-border-radius: 10px;
	  border-radius: 10px;
	  background: #272822;
	  box-shadow: 0 0 10px #000;
	  -moz-box-shadow: 0 0 10px #000;
	  -webkit-box-shadow: 0 0 10px #000;
		color: #6b6b6b;
		line-height: 1.4em;
	}
	.modalbg .dialog .ie7 {
	  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
	}
	.modalbg .dialog h2, .modalbg .dialog .shortcuts{
		color:#6B6B7C;
	}
	.modalbg .dialog .shortcuts:hover{
		border-bottom: 1px dotted #6B6B7C;
		cursor: help;
	}
	.modalbg .dialog .shortcuts:hover{
		border-bottom: 1px dotted #6B6B7C;
		cursor: help;
	}
	.modalbg .dialog .shortcuts:hover .shorcuts-help{
		display: block;
    position: absolute;
    font-size: 11px;
    line-height: 0.9em;
    border: 1px solid #6b6b6b;
    background-color: #222;
    padding: 10px;
    border-radius: 10px;
    top: 20px;
    right: 30px;
		font-weight: lighter;
	}
	.modalbg .dialog .shorcuts-help{
		display:none;
	}
	.modalbg:target {
	  display: block;
	  pointer-events: auto;
	  background: rgba(0, 0, 0, 0.4);
	  -moz-transition: all 0.8s ease-out;
	  -webkit-transition: all 0.8s ease-out;
	  -o-transition: all 0.8s ease-out;
	  transition: all 0.8s ease-out;
	}
	.modalbg:target .dialog {
	  top: -20px;
	  -moz-transition: all 0.8s ease-out;
	  -webkit-transition: all 0.8s ease-out;
	  -o-transition: all 0.8s ease-out;
	  transition: all 0.8s ease-out;
	  -webkit-transition-delay: 0.2s;
	  -moz-transition-delay: 0.2s;
	  -o-transition-delay: 0.2s;
	  -transition-delay: 0.2s;
	}
	.close {
	  background: #272822;
	  color: #6b6b6b;
	  line-height: 25px;
	  position: absolute;
	  right: -12px;
	  text-align: center;
	  top: -10px;
	  width: 24px;
	  text-decoration: none;
	  font-weight: bold;
	  -webkit-border-radius: 12px;
	  -moz-border-radius: 12px;
	  border-radius: 12px;
	  box-shadow: 0 0 10px #000;
	  -moz-box-shadow: 0 0 10px #000;
	  -webkit-box-shadow: 0 0 10px #000;
	  -moz-transition: all 0.2s ease-out;
	  -webkit-transition: all 0.2s ease-out;
	  -o-transition: all 0.2s ease-out;
	  transition: all 0.2s ease-out;
	  -webkit-transition-delay: 0.2s;
	  -moz-transition-delay: 0.2s;
	  -o-transition-delay: 0.2s;
	  -transition-delay: 0.2s;
	}
	.close .ie7 {
	  filter: progid:DXImageTransform.Microsoft.Shadow(color='#000', Direction=135, Strength=3);
	}
	.close:hover {
		background: #6b6b6b;
	  color:#272822;
	  -moz-transition: all 0.5s ease-out;
	  -webkit-transition: all 0.5s ease-out;
	  -o-transition: all 0.5s ease-out;
	  transition: all 0.5s ease-out;
	}
	.fineprint {
	  a {
	  	font-size: 12px;
	  	color: #6B6B7C;
			text-decoration: none;
		}
	}

  .loading {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 0.25rem solid rgba(255, 255, 255, 0.2);
    border-top-color: white;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
    border-style: double;
    border-width: .5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loading-warning {

    color: #6b6b6b;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-40%,-50%);

  }

	.share {
		float: left;
		margin-right: 15px;
		color: rgba(255, 255, 255, 0.5);
		border-bottom: 1px dotted gray;
	}

	.share.disabled {
		display: none;
	}

	.share.loading-container {
		color: rgba(255, 255, 255, 0.1);
		pointer-events: none;
	}

	.share.loading-container .loading{
		border-radius: 15%;
		width: 1px;
		height: 1px;
		border-top-color: white;
		-webkit-animation: spin 1s infinite linear;
		animation: spin 1s infinite linear;
		border-style: double;
		border-width: .4rem;
		position: absolute;
		top: 7px;
		left: -12px;
		display: inline;
	}

	.share .loading{
		display: none;
	}

}
